<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaPembelajaran"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.MediaPembelajaran.NoActionBar" />
        <activity
            android:name=".menu.pembelajaran.MateriActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.kuis.IntoQuizActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz10Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz9Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz8Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz7Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz6Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz5Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz4Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz3Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.Quiz2Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".auth.DaftarActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.LoginAkunActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auth.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.kuis.Quiz1Activity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.kuis.QuizActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".menu.pembelajaran.DetailPembelajaran"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu.pembelajaran.PembelajaranActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>